
<table class="tx-hgapeopledb" >
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.last_name" />
		</td>
		<td>
			{people.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.first_name" />
		</td>
		<td>
			{people.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.title" />
		</td>
		<td>
			{people.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.gender" />
		</td>
		<td>
			{people.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.image" />
		</td>
		<td>
			{people.image.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.maiden_name" />
		</td>
		<td>
			{people.maidenName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.dead" />
		</td>
		<td>
			{people.dead}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.people_group" />
		</td>
		<td>
			{people.peopleGroup}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.birth_date" />
		</td>
		<td>
			{people.birthDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.email" />
		</td>
		<td>
			{people.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.nick_name" />
		</td>
		<td>
			{people.nickName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.phone" />
		</td>
		<td>
			{people.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.mobile_phone" />
		</td>
		<td>
			{people.mobilePhone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.street" />
		</td>
		<td>
			{people.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.zip" />
		</td>
		<td>
			{people.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.town" />
		</td>
		<td>
			{people.town}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.country" />
		</td>
		<td>
			{people.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hgapeopledb_domain_model_people.info" />
		</td>
		<td>
			{people.info}
		</td>
	</tr>
</table>